node_modules/
# Backend build files
backend/target/

# Frontend build files
frontend/dist/




AQ.Ab8RN6LtcL5YEBXDsdBozy9qT_UoV8252CgLJkpjZI_BnEi5AA



AQ.Ab8RN6LtcL5YEBXDsdBozy9qT_UoV8252CgLJkpjZI_BnEi5AA
.vercel
